#h1{
  font-family: 'Josefin Sans', sans-serif;
  padding-right: 100px;
  
padding-left: 550px;
padding-top:0px;
}
#img1{
width: 100%;
height: 700px;
position: relative;
}
#img2{
width: 100%;
height: 500px;
position: relative;
}