.workouts-bg {
  background-image: url('../images/contactus2.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vw;
  width: 100%;
}
.workouts-title {
  font-size: 6vw;
  padding: 20vw 40vw;
  width: 400px;
  color:black;
}
@media screen and (max-width: 728px) {
  .workouts-title {
    font-size: 50px;
  }
}
.GridContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  grid-gap: 1px;
  justify-content: center;
  @media screen and (max-width: 768px) {
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
}
.WorkoutCategory {
  background-size: cover;
  /* height: 300px; */
  /* max-width: 500px; */
  border: 2px solid black;
  @media screen and (max-width: 768px) {
    
  }
}
.CategoryTitle {
  color: #000;
  text-align: center;
  margin: auto;
  line-height: 300px;
  font-size: 50px;
}